@page "/"
<PageTitle> Test</PageTitle>

<h1>Hello, world!</h1>
<h5 class="text-primary">
    My goal with this project is to create a blazor solution based on 
    AdminLTE to be used by me and others on codecanyon.net 
</h5>
<p>
   TODO:
</p>
<ul class="text-danger">
    <li>Create reusable components for sidebar, navbar, header, footer, charts...etc.</li>
    <li>Connect it with actual ASPNET Users/Roles</li>
    <li>Add some features like chat</li>
</ul>

<h6 class="text-info"> 
    I downloaded AdminLTE files here: c:\Users\mh2x\Downloads\AdminLTE-3.2.0\AdminLTE-3.2.0
</h6>