@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome, to th world of connect 4 to win!</h1>

Welcome to my connect 4 game.
<hr />

<Board @rendermode="InteractiveServer" BoardColor="System.Drawing.Color.Black" Player1Color="System.Drawing.Color.Green"
    Player2Color="System.Drawing.Color.Purple" />